.consultation {
    background: url(../img/consultation.jpg) center center/cover no-repeat;
    padding: 100px 0 92px 0;
    color: var(--color, rgb(246, 246, 246));
}



.consultation__promo {
    text-align: left;

    .consultation__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-transform: uppercase;
    }

    span {
        display: block;
        margin-top: 8px;
        padding: 3px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

}