@media screen and (max-width: 1200px) {
    .catalog {
        padding: 3%;
    }
}

@media screen and (max-width: 785px) {
    .catalog__tabs {
        margin-top: 40px;
        flex-direction: column;
        gap: 20px;
    }

    .catalog__title {
        font-size: 32px;
    }
}